

github "Alamofire/Alamofire" == 4.5

github "airbnb/lottie-ios" "65402f3cf81e9148bc6daad1d6e5f8e310169711"

github "SwiftyBeaver/SwiftyBeaver"

github "Swinject/Swinject"

github "0xced/XCDYouTubeKit" ~> 2.7

github "rusito-23/RealmDAO" == 1.2.0

github "AFNetworking/AFNetworking" ~> 3.0

github "scalessec/Toast-Swift" ~> 4.0.0
